#!/bin/bash 
#  Bash file to cross compile for Android

CONFIG_EXTRA="--disable-shared --enable-static --enable-static-modules \
  --with-gnutls --without-ca-certificates --enable-more-warnings"

CFLAGS_EXTRA="-DGST_CA_CERTIFICATES_FROM_ENV"
LDFLAGS_EXTRA=""
LIBS_EXTRA=""

source "${PRJ_DIR}/../android.cfg"

# Configuration Cache Overrides
export glib_cv_stack_grows='yes'
export glib_cv_uscore='no'
export glib_cv_long_long_format=ll
export glib_cv_stack_grows=no
export glib_cv_sane_realloc=yes
export glib_cv_have_strlcpy=no
export glib_cv_va_val_copy=yes
export glib_cv_rtldglobal_broken=no
export glib_cv_uscore=no
export glib_cv_monotonic_clock=no
export glib_cv_use_pid_surrogate=yes
